<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <br />

  <p>
    This Splurty was built by <a target="_blank" href="http://github.com/gregory-eglen">Gregory Eglen</a>. One man who wants to cover the world in beatuifully designed functional web pages.
  </p>
  <br />
  <p>
    He has much to learn, but has faith in himself and the backing of his lovely wife and children.
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'gregory.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Gregory Eglen</h2>
      <br />
      <p>
        Gregory Eglen is an aspiring web developer. He currently works for a retail auto parts store and is looking to transition into a new career using "Mad Haxxing Skillz"
      </p>
    </div>
  </div>
  <br class="clear">
  <br />
  <br />
  <br />
  <br />

</div>