<h2>
  <span><u><strong> SPLURTY / No. <%= @quote.id %>:</strong></u> Another <i>favorite</i> quote, from another <i>favorite</i> game:</span>
</h2>

<br class="clear" />
<br />


<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />